<div class="jumbotron text-center">
	<h1>BBC Entertainment</h1>

	<!-- <p>{{ tagline }}</p> -->
	<ul class= 'col-sm-12 test' ng-repeat="news in data">
		<li class="{{$index%3 == 0 ? 'feature hello' : $index%2==0?'two hello':'three hello' }}" ng-click="openDetail(news.link)">
			<p>{{news.title}}</p>
			<!--<p >-->
				<!--{{news.summary}}-->
			<!--</p>-->
			<cropped-image class="hello" ng-if="news.image.url" src="news.image.url" width="{{innterWidth*2.26}}" height="{{innterWidth - innterWidth/4}}" imgsrc="news.image.url"></cropped-image>

			</li>
		<!--<li class="two">-->
			<!--<img src="http://placehold.it/1024x768" />-->
		<!--</li>-->
		<!--<li>-->
			<!--<img src="http://placehold.it/1024x768"/>-->
		<!--</li>-->
	</ul>

	<!--<div class="" ng-repeat="news in data">-->
		<!--<h2>{{news.title}}</h2>-->
		 <!--<cropped-image ng-if="news.image.url" src="news.image.url" width="400" height="250" imgsrc="news.image.url"></cropped-image>-->
		<!--&lt;!&ndash;<img src="{{news.image.url}}" width="500px" height="400px" alt="" />&ndash;&gt;-->
		<!--<p>-->
			<!--{{news.summary}}-->
		<!--</p>-->
		<!--<p>-->
			<!--<a ng-href="{{news.link}}">Detail</a>-->
		<!--</p>-->
	<!--</div>-->

</div>
