<div class="text-center">
	<!--<h1>BBC Entertainment</h1>-->

	<!--<ul class= 'col-sm-12 test' ng-repeat="news in data">-->
		<!--<li class="{{$index%3 == 0 ? 'feature hello' : $index%2==0?'two hello':'three hello' }}" ng-click="openDetail(news.link)">-->
			<!--<p>{{news.title}}</p>-->
	 <!-- -->
			<!--<cropped-image class="hello" ng-if="news.image.url" src="news.image.url" width="{{innterWidth*2.26}}" height="{{innterWidth - innterWidth/4}}" imgsrc="news.image.url"></cropped-image>-->

			<!--</li>-->
	 <!-- -->
	<!--</ul>-->

	<div class="loader" ng-if="!data.length">
		<div class="dot"></div>
		<div class="dot"></div>
		<div class="dot"></div>
		<div class="dot"></div>
		<div class="dot"></div>
	</div>
	<div ng-if="data.length">
	<div owl-carousel="data" owl-options="BBC.owl.options" >
		<div class="item">
			<!--<img ng-src="item.image.url">-->
			<ul class= 'col-sm-12 test'>
				<li class="{{$index%3 == 0 ? 'feature hello' : $index%2==0?'two hello':'three hello' }}" ng-click="openDetail(news.link)">
					<p>{{item.title}}</p>

					<cropped-image class="hello" ng-if="item.image.url" ng-src="item.image.url" width="{{innterWidth}}" height="{{innterHeight}}" imgsrc="item.image.url"></cropped-image>

				</li>

			</ul>

		</div>
	</div>
	</div>


</div>
