<div class="text-center">
	<!--<h1>BBC Entertainment</h1>-->

	<!--<ul class= 'col-sm-12 test' ng-repeat="news in data">-->
		<!--<li class="{{$index%3 == 0 ? 'feature hello' : $index%2==0?'two hello':'three hello' }}" ng-click="openDetail(news.link)">-->
			<!--<p>{{news.title}}</p>-->
	 <!-- -->
			<!--<cropped-image class="hello" ng-if="news.image.url" src="news.image.url" width="{{innterWidth*2.26}}" height="{{innterWidth - innterWidth/4}}" imgsrc="news.image.url"></cropped-image>-->

			<!--</li>-->
	 <!-- -->
	<!--</ul>-->
	<nav class="main-menu">
		<ul>
			<li>
				<!--<a href="#">-->
					<!--<i class="fa fa-home fa-2x"></i>-->
                        <!--<span class="nav-text">-->
                            <!--Home-->
                        <!--</span>-->
				<!--</a>-->

			</li>
			<li class="has-subnav">
				<!--<a href="#ndtv">-->
					<!--<i class="fa fa-info-circle fa-2x" aria-hidden="true"></i>-->
                        <!--<span class="nav-text">-->
                            <!--All News-->
                        <!--</span>-->
				<!--</a>-->

			</li>

		</ul>

		<!--<ul class="logout">-->
			<!--<li>-->
				<!--<a href="#">-->
					<!--<i class="fa fa-power-off fa-2x"></i>-->
                        <!--<span class="nav-text">-->
                            <!--Logout-->
                        <!--</span>-->
				<!--</a>-->
			<!--</li>-->
		<!--</ul>-->
	</nav>
	<div class="loader" ng-if="!data.length">
		<div class="dot"></div>
		<div class="dot"></div>
		<div class="dot"></div>
		<div class="dot"></div>
		<div class="dot"></div>
	</div>
	<div ng-if="data.length">
	<div owl-carousel="data" owl-options="BBC.owl.options" >
		<div class="item">
			<!--<img ng-src="item.image.url">-->
			<ul class= 'test'>
				<li class="{{$index%3 == 0 ? 'feature hello' : $index%2==0?'two hello':'three hello' }}" ng-click="openDetail(news.link)">
					<a href="{{item.link}}"><p>{{item.title}}</p></a>

					<!--<span>{{item.summary}}</span>-->

					<img class="hello className" ng-if="item.image.url" width="{{innterWidth}}" height="{{innterHeight}}" ng-src="{{item.image.url}}" />
					<!--<cropped-image class="hello" ng-if="item.image.url" ng-src="item.image.url" width="{{innterWidth}}" height="{{innterHeight}}" imgsrc="item.image.url"></cropped-image>-->

				</li>

			</ul>

		</div>
	</div>
	</div>


</div>
