body { padding-top:30px; }

ul .test{
    font-size: 0;
    list-style: none;
    width: 100%;
}
ul li{
   display: inline-block;
    width: 100%;
}
ul li .hello {
    opacity: 0.5;
    width: 100% !important;
}
ul li.feature {
    background: #FF5733;
    width: 100%;
}
ul li.two {
    background: #05D6B0;
}
ul li.three {
    background: #CA084B;
}
@media (max-width: 100px) {
    ul li {
        width: 100%;
    }
    ul li.feature {
        width: 100%;
    }
    p{font-size: 20px; !important;}
}

p{    position: absolute;
    color: white;
    z-index: 5;
    left: 10px;
    right: 10px;
    margin: 0px;
}

.textOverlayDesc{
    position: absolute;
    left: 0;
    right: 0;
    z-index: 10;
    color: white;
    margin: 20%;
}

p {
    font-size: 20px !important;
}

@media all and (max-device-width: 720px){
    p {
        font-size: 38px !important;
    }
}

@media all and (max-device-width: 640px){
    p {
        font-size: 16px !important;
    }
}

@media all and (max-device-width: 320px){
    p {
        font-size: 12px !important;
    }
}

